<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% if records.getKeywords() %}
    <meta name="keywords" content="{{ records.getKeywords() }}">
  {% endif %}

  {% if records.getDescription() %}
    <meta name="description" content="{{ records.getDescription() }}">
  {% endif %}

  {% if records.getTheme() %}
    <meta name="theme-color" content="#{{ records.getTheme() }}">
    <meta name="msapplication-navbutton-color" content="#{{ records.getTheme() }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="#{{ records.getTheme() }}">
  {% endif %}

  {% if records.getFaviconLink() %}
    <link rel="shortcut icon" type="image/png" href="{{ records.getFaviconLink() }}"/>
  {% endif %}

  {% if records.getTitle() %}
    <title>{{ records.getTitle() }}</title>
  {% endif %}

  {% for link in records.getCssLinks() %}
    <link rel="stylesheet" type="text/css" href="{{ link }}">
  {% endfor %}

  {% for link in records.getScriptLinks() %}
    <script type="text/javascript" src="{{ link }}"></script>
  {% endfor %}

  {% if records.getGoogleAnalyticsCode() %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ records.getGoogleAnalyticsCode() }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ records.getGoogleAnalyticsCode() }}');
    </script>
  {% endif %}

</head>
{{ expanded_payload|raw }}
</html>